<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://www.pngkit.com/png/full/769-7698436_epic-seven-logo-png.png">
  </div>
  <h1 align="center">Welcome to the Epic Seven Gear Saver!</h1>
</div>