<h1>Welcome <%= @user.username %></h1>

<br><br>
<h3>Gears Created: </h3>
<br>

<ul>
<% @gears.each do |g| %>
    <li><%= g.rarity %>: <%= g.equip %></li>
    <p><%= link_to "Show more details for: #{g.rarity} #{g.equip}" , gear_path(g) %></p>
<% end %>
</ul>