<h1>Gear Index Page </h1>

<br>

<% @gears.each do |g| %> 
    <p><%= link_to "#{g.rarity} #{g.equip}" , gear_path(g) %></p>
    <li>Created by: <%= User.where(id: g.user_id)[0].username %></li><br>
<% end %>
  